@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Yeon+Sung&display=swap');

.APP {
  padding: 20px;

  font-family: 'Yeon Sung', cursive;
  font-family: 'Nanum Gothic', cursive;
}